<header class="header">
	<div class="container">
		<div class="header__inner">
			<a class="logo" href="#">
				<img src="images/logo.svg" alt="logo">
			</a>
			<nav class="header__menu">
				<ul class="header__menu-list">
					<li class="header__menu-item">
						<a class="header__menu-link" href="#">
							Процедуры
							<img src="images/arrow-down.svg" alt="arrow down">
						</a>
						<div class="header__submenu">
							<a class="header__submenu-link" href="#">
								Процедуры для лица
							</a>
							<a class="header__submenu-link" href="#">
								Процедуры для тела
							</a>
							<a class="header__submenu-link" href="#">
								Ботокс и филлеры
							</a>
							<a class="header__submenu-link" href="#">
								Процедуры для мужчин
							</a>
						</div>
					</li>
					<li class="header__menu-item">
						<a class="header__menu-link" href="#">
							Кожные заболевания
							<img src="images/arrow-down.svg" alt="arrow down">
						</a>
						<div class="header__submenu">
							<a class="header__submenu-link" href="#">
								Акне
							</a>
							<a class="header__submenu-link" href="#">
								Темные круги
							</a>
							<a class="header__submenu-link" href="#">
								Гиперпигментация
							</a>
							<a class="header__submenu-link" href="#">
								Растяжки
							</a>
							<a class="header__submenu-link" href="#">
								Лопнувшие капелляры
							</a>
						</div>
					</li>
					<li class="header__menu-item">
						<a class="header__menu-link" href="#">
							Ресурсы
							<img src="images/arrow-down.svg" alt="arrow down">
						</a>
						<div class="header__submenu">
							<a class="header__submenu-link" href="#">
								Галерея
							</a>
							<a class="header__submenu-link" href="#">
								Обзоры
							</a>
							<a class="header__submenu-link" href="#">
								Блог
							</a>
							<a class="header__submenu-link" href="#">
								Награды
							</a>
						</div>
					</li>
					<li class="header__menu-item">
						<a class="header__menu-link" href="#">
							О нас
							<img src="images/arrow-down.svg" alt="arrow down">
						</a>
						<div class="header__submenu">
							<a class="header__submenu-link" href="#">
								Наша команда
							</a>
							<a class="header__submenu-link" href="#">
								Наша история
							</a>
							<a class="header__submenu-link" href="#">
								Наш офис
							</a>
						</div>
					</li>
					<li class="header__menu-item">
						<a class="header__menu-link" href="#">
							Специальные предложения
						</a>
					</li>
					<li class="header__menu-item">
						<a class="header__menu-link" href="#">
							Новости
						</a>
					</li>
					<li class="header__menu-item">
						<a class="header__menu-link" href="#">
							Контакты
						</a>
					</li>
				</ul>
			</nav>
			<a class="header__phone" href="tel:+79211234556">
				921-123-45-56
			</a>
			<button class="header__menu-btn">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="18" viewBox="0 0 30 18" fill="none">
					<path d="M0 0H30V2H0V0Z" fill="black"></path>
					<path d="M0 8H30V10H0V8Z" fill="black"></path>
					<rect y="16" width="30" height="2" fill="black"></rect>
				</svg>
			</button>
			<button class="header__btn">
				Консультация
			</button>
		</div>
		<div class="header-form" href="#">
			<button class="header-form__btn">
				<img class="header-form__img" src="images/header-form.svg" alt="form btn">
			</button>
			<div class="header-form__inner">
				<div class="header-form__title">
					Есть вопрос?
				</div>
				<div class="header-form__content">
					<p class="header-form__text">
						Напишите нам ниже, и наш координатор по работе с пациентами свяжется с вами.
					</p>
					<form class="header-form__form" action="#">
						<input type="text" placeholder="Имя" required>
						<input type="tel" placeholder="Телефон" required>
						<input type="email" placeholder="Электронная почта" required>
						<textarea placeholder="Сообщение" required></textarea>
						<button type="submit">Отправить</button>
					</form>
					<p class="header-form__form-text">
						Отправляя, вы соглашаетесь получать SMS или электронные письма для предоставленного канала. Могут
						применяться тарифы.
					</p>
				</div>
			</div>
		</div>
	</div>
</header>